*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
h1
 {
    color: #1d273b;
    font-weight: 500;
}


ul{
    list-style-type: none;
    background-color: #3F4046;
    overflow: hidden;
    margin: 0;
    padding: 0,60px,50px,0;
}
li{
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 23px;
    text-decoration: none;
}
li a:hover{
    background-color: cadetblue;
}


.contenedor {
    width: 90%;
    max-width: 90%;
    margin: auto;
    overflow: hidden;
	padding: 25px;
}


table{
	width: 100%;
}

table .sin{
	border:6px;
}

table .bot{
	padding:0 5px;
	display:inline;
	border:0;
}

table .primera_fila{
	font-size:1.5em;
	background-color:#FC3;
}

.centrado{
	text-align:center;
}


